/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
*/

.courseHeader.jumbotron {
  padding-bottom: 25px;
  padding-top: 25px;
}

.card-body.card-text {
  /* width: 800px; */
}

.courseCard {
  width: 1500px;
}

.courseQuestion {
  width: 1500px;
}

.courseBtn, .questionBtn {
  padding-bottom: 20px;
}

.questionBox {
  width: 600px;
  height: 500px;
}


