.imgcontainer {
    text-align: right;
    width: 50%;
    margin-left: 10%
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  .cardsize{
    height: 520px;
    width: 500px;
    margin-top: 10px;
    margin-left: 470px
  }
  
  .email{
    width: 90% !important; 
    padding: 12px 20px;
    margin: 8px 5px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  .password{
    width: 90% !important; 
    padding: 12px 20px;
    margin: 8px 5px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    background-color: green;
    color: white;
    padding: 14px 20px;
    cursor: pointer;
    width: 90%;
    box-sizing: border-box;
    display: inline-block;
  }
  .margin{
    margin-top: 5%;
    margin-left: 15px;
  }
  .loginbtn{
    margin-top: 5%;
    margin-left: 29px;
    width:97%;
  }
  
  .header{
    background-color: green!important;
    text-align: center;
    color: white;
  }
  .headersignup{
    background-color: green!important;
    text-align: left;
    font-size: 30px;
    color: white;
  }
  .signup{
    font-size: 16px;
  }
  .card{
    margin: 0 auto; 
    float: none;
  }